{{ $baseurl := .Site.BaseURL }}
<!DOCTYPE html>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">
    <head>
        {{ partial "head.html" . }}
    </head>
    <body id="page-top">

        {{ partial "nav_doc.html" . }}

        <header>
            <div class="header-content page-content">
                <div class="header-content-inner">
                    <h1>{{ .Title }}</h1>
                    <hr>
                    <div>
                        {{ .Content }}
                    </div>
                    <hr>
                    <h3 class="text-right"><a href="{{ $baseurl }}">Back to homepage</a>{{ if ne .Title "Erco Documentation" }} | <a href="{{ $baseurl }}doc/index.html">Back to documentation index</a>{{ end }}</h3>
                </div>
            </div>
        </header>
    </body>
</html>

