{{ "<!-- CONTACT -->" | safeHTML }}
<section id="contribute">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">{{ with .Site.Params.contribute.headline }}{{ . }}{{ end }}</h2>
                <hr class="primary">
                <p>{{ with .Site.Params.contribute.description }}{{ . | markdownify }}{{ end }}</p>
            </div>
            <div class="col-lg-4 text-center">
                <i class="fa fa-bug fa-4x wow bounceIn"></i>
                <p><a href="{{ .Site.Params.contribute.bugsLink }}">{{ .Site.Params.contribute.bugs }}</a></p>
            </div>
            <div class="col-lg-4 text-center">
                <i class="fa fa-language fa-4x wow bounceIn" data-wow-delay=".1s"></i>
                <p><a href="{{ .Site.Params.contribute.i18nLink }}">{{ .Site.Params.contribute.i18n }}</a></p>
            </div>
            <div class="col-lg-4 text-center">
                <i class="fa fa-code-fork fa-4x wow bounceIn" data-wow-delay=".1s"></i>
                <p><a href="{{ .Site.Params.contribute.sourceLink }}">{{ .Site.Params.contribute.source }}</a></p>
            </div>
        </div>
    </div>
</section>
